.main-con{
    box-sizing: border-box;
    background-color:#1F485B;
    display: flex;
    height: 100vh;
    padding: 3% 11%;
}

.main-con-in{
    box-sizing: border-box;
    width: 100%;
    border-radius: 75px;
    background-color: rgba(31, 72, 91, 0.10);
    box-shadow: 0px 4px 80px 0px rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pic-con{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.pic-con img{
    
}

.form-con{
    box-sizing: border-box;
    border-radius: 75px;
    background-color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.form-con h3{
    font-weight: 600;
    padding-left: 10px;
}

.form-con .logo{
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 15px;
    border: 1px solid #A0A0A0;
    background-color: #FFF;
    height: 5vh;
}

.form-con .logo img{
    width: 13%;
}

.form-con .or .h1{
    border-top: 1px solid rgb(0, 0, 0);
    display: inline-block;
    width: 130px;
    
}

.form-con .or .h2{
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    font-size: medium;
    color: #7A7A7A;
}

.form-con .or{
    margin-top: 45px;
}

.form-con a{
    text-decoration: none;
    color: #000000;
}

.form-con form input{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    border-radius: 63px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border: none;
    padding: 15px 20px;
    margin: 30px 0;
    width:100%; 
}

.form-con form input:hover{
    border: 2px solid #7A7A7A;
    box-shadow: none;
}

.form-con input::placeholder{
    padding-left: 15px;
    text-align: left;
    color: #7A7A7A;
}


.form-con form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.form-con form button{
    
    padding: 10px;
    
    border-radius: 63px;
    background: #1F485B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    color: #FFF;
    font-weight: 700;
    font-size: large;
    margin-top: 25px;
    width: 100%;

}

.form-con form button:hover{
    background: #285c74;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .form-con{

        width: 100%; 
    }
    .form-con form{
       
        width: 75%;
    }

   
    
}

@media screen and (max-width:900px) {

    .main-con{
        padding: 5% 11%;
    }
    .form-con{

        width: 100%; 
    }
    .pic-con{
        display: none;
    }
    .form-con form{

        width:65%; 
    } 
   
    
}

@media screen and (max-width:600px) {

    .main-con{
        padding: 8% 11%;
    }
    .form-con{

        width: 100%; 
    }
    .pic-con{
        display: none;
    }
    .form-con form{
    
        width: 70%;
    }
   
    
}

@media screen and (max-width:500px) {

    .main-con{
        padding: 8% 11%;
    }
    .form-con{

        width: 100%; 
    }
    .pic-con{
        display: none;
    }
    .form-con form{
    
        width: 70%;
    }
    .form-con .or .h1{
        
        width: 100px;
        
    }
   
    
}

@media screen and (max-width:400px) {

   

    .main-con{
        
        
        display: flex;
        padding: 0;
        
    }
    
    .main-con-in{
        width: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 0;
        
    }

    .form-con{
        
        
        border-radius: 0;
        background-color:rgba(0, 54, 71, 0);
        width: 100%;
        
          
    }

    .form-con .logo{

        font-size: smaller;
        padding: 0 10px;
        border-radius: 15px;
        
    }
    .form-con .or .h1{
        
        width: 80px;
        
    }
    .form-con form input{
       
        padding: 5px 20px;
        margin: 15px 0;
        width:100%; 
    }
    
    .form-con input::placeholder{
        padding-left: 15px;
        text-align: left;
        color: #7A7A7A;
        font-size: smaller;
    }
    .form-con .or .h2{
        
        font-size: smaller;
        color: #7A7A7A;
    }

    .form-con form button{
        font-size: smaller;
        margin-top: 15px;
        padding: 7px;
    }
   
    
}





